<div class = "container">
  <div class='page-header'>
    <h1>Quotes</h1>
  </div>
  
  <!--New Quote-->
  <div ng-style="quoteStyle(new_quote)" class="well-transparent quote-in-index">
    <h4>New Quote</h4>
    <div class="quote">{{new_quote.quote}}</div>
    <div class="author">{{new_quote.author}}</div>
    <div class="input-group">
      <span class="input-group-addon">Quote</span>
      <input type="text" ng-model="new_quote.quote" class="form-control" placeholder="Quote">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Author</span>
      <input type="text" ng-model="new_quote.author" class="form-control" placeholder="Author">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Background Color</span>
      <input colorpicker="hex" type="text" ng-model="new_quote.bgColor" class="form-control" placeholder="Background Color">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Foreground Color</span>
      <input colorpicker="hex" type="text" ng-model="new_quote.fgColor" class="form-control" placeholder="Foreground Color"/>
    </div>
    <div class="input-group">
      <datepicker ng-model="new_quote.publishOnDate" show-weeks="false" class="well well-sm"></datepicker>
      </div>
    <button-transparent ng-click="createQuote(new_quote)">Create</button-transparent>
  </div>  
  
  
  <!-- Quote index -->
  <div ng-repeat="quote in quotes" ng-class='{well: isToday(quote.publishOnDate)}'>
    <h2><span ng-show='(daysInBetweenCache = daysInBetween(quote, $index))>1'class='label label-danger'>{{daysInBetweenCache-1}} days missing</span></h2>
    <h1 ng-show="isToday(quote.publishOnDate)">Today</h1>
    <h1 ng-show="isTomorrow(quote.publishOnDate)">Tomorrow</h1>
  <div ng-style="quoteStyle(quote)" class="well-transparent quote-in-index">
    <div class="quote text-center lead">{{quote.quote}}</div>
    <div class="author text-center">{{quote.author}}</div>
    <div class="input-group">
      <span class="input-group-addon">Quote</span>
      <input type="text" ng-model="quote.quote" class="form-control" placeholder="Quote">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Author</span>
      <input type="text" ng-model="quote.author" class="form-control" placeholder="Author">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Background Color</span>
      <input colorpicker="hex" type="text" ng-model="quote.bgColor" class="form-control" placeholder="Background Color">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Foreground Color</span>
      <input colorpicker="hex" type="text" ng-model="quote.fgColor" class="form-control" placeholder="Foreground Color">
    </div>
    <div class="input-group">
      <datepicker ng-model="quote.publishOnDate" show-weeks="false" class="well well-sm"></datepicker>
    </div>
    <button-transparent ng-click="updateQuote(quote)">Update</button-transparent>
  </div>
  </div>


</div>
{{quotes}}