<div id="main-container" class='container' ng-style='bodyStyle()' ng-mousemove="onMouseMove()">
  
<div id="toolbar-top" class="toolbar text-center container">
  <!--<div class="btn btn-transparent btn-transparent-black">Today</div>-->
</div>

<div id="quote-container" class="absolute-center container">  
<p id="quote" class="lead container-fluid">{{quote}}</p>
<p id="author" class="text-right text-muted">{{author}} –</p>
</div>


<div id="toolbar-bottom" class="toolbar text-center container" ng-mouseenter="onMouseEnterHiddenElements()" ng-mouseleave="onMouseLeaveHiddenElements()">
  <div class='row hidden-xs'>
    <div class='col-sm-4 text-left'>

      
      <a button-transparent tooltip="Menu"><i class="fa fa-navicon fa-lg"></i></a>
      <a button-transparent tooltip="Day Before" title="Day Before" ng-click="goToDayBefore()"><i class="fa fa-angle-left fa-lg"></i></a>
      <a button-transparent tooltip="Today" title="Today" href='#/'><i class="fa fa-clock-o fa-lg"></i></a>
      <a button-transparent tooltip="Day After" ng-click="goToDayAfter()" title="Day After"><i class="fa fa-angle-right fa-lg"></i></a>
      
    </div>
    <div class='col-sm-4'>
    </div>    
    <div class='col-sm-4'>
      <div class='well-transparent' ng-show='false'>
        <input ng-model="bgColor"/>
        <input ng-model="fgColor"/>
        <p>Mouse inside hiddden elements: {{mouseInsideHiddenElements}}</p>
      </div>
    </div>
    
  </div>
</div>

</div>